.vscode/settings.json
COS1512_ASS02_Q4/mylibrary.exe
COS1512_ASS02_Q5/WorldCup.exe
COS1512_ASS02_Q5/Team.o
COS1512_ASS02_Q5/main.o
COS1512_ASS02_Q6/StudentResults.exe
COS1512_ASS02_Q6/Student.o
COS1512_ASS02_Q6/main.o
COS1512_ASS02_Q7/medicines.exe
COS1512_ASS02_Q7/main.o
COS1512_ASS02_Q7/RepeatPrescription.o
COS1512_ASS02_Q7/Prescription.o
COS1512_ASS02_Q7/myPrescriptions.exe
COS1512_ASS02_Q7/myPrescriptions.exe
COS1512_ASS02_Q1/myEmployees.exe
COS1512_ASS02_Q5/myTeam.exe
COS1512_ASS02_Q6/myStudents.exe
